/* index.html */

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
  background-color: #e1e3e8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}


/* Navegacion */
.listado {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.listado a {
  display: block;
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding: 30px 25px;
}

.listado a:hover {
  border-bottom: 2px solid black;
  background-color: #f1f1f1;
}


/* Fondo */
.fondoPagina {
  width: 100%;
  height: 350px;
  background-image: url("../assets/imagenFondoProductos.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navegacion en Categorias */
.navContenedorComidas {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.navContenedorComidas .listado a {
  font-size: 18px;
  padding: 15px 20px;
}


/* Lista de Productos(el grid) */
.listaProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 40px;
  gap: 35px;
  transition: all 0.3s ease;
}

/* Tarjeta del Producto */
.producto {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.producto.visible {
  transform: translateY(0);
  opacity: 1;
}


/* Imagen del Producto */
.contenedorFotoProducto {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.fotoProducto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Info del Producto */
.infoProducto {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoProducto h3 {
  font-size: 20px;
  margin: 0;
  font-family: "Playfair Display";
}

.infoProducto p {
  font-size: 14px;
  margin: 0;
  font-family: "Inter";
  color: #444;
}


/* Votaciòn */
.btnVotar {
  margin-top: auto;
  background-color: #373d4c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter";
}

.btnVotar:hover {
  background-color: #4b5465;
}

.mensajeVoto {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-family: "Inter";
  padding: 12px 25px;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 2000;
}


/* Comentarios */
.modalComentarios {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContenido {
    width: 500px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
    font-family: "Inter";
}

.hidden {
    display: none;
}

.cerrarModal {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

#listaComentarios {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#listaComentarios div {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

#listaComentarios div:last-child {
    border-bottom: none;
}

#nombreComentario,
#textoComentario {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

#btnEnviarComentario {
    width: 100%;
    padding: 10px;
    background: #373d4c;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



/* Gradiente */
.gradienteFooter {
  height: 150px;
  background: linear-gradient(to bottom, rgba(225, 227, 232, 1) 35%, rgba(33, 40, 48, 1) 90%);
}


/* Footer */
footer {
  font-family: "Inter";
}

.piePagina {
  background-color: #212830;
  height: auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.piePagina h4, a {
  color: white;
}

.piePagina a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  padding: 10px 15px;
}

.logoFooter {
  width: 192px;
  height: 192px;
}

.logoFooter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listadoFooter {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.contactoFooter {
  background-color: #373d4c;
  border-radius: 30px;
  padding: 20px;
}

.containerUsers {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.devUser {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoGitHub {
  width: 20px;
  height: 20px;
}

